<!DOCTYPE html>
<html>
<head>
    <title>Grocery List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class='container pt-3'>
            <div class='alert alert-{{category}}'></div>
    </div>
</body>
</html>
